[submodule "aws-missing-tools"]
	path = aws-missing-tools
	url = https://github.com/colinbjohnson/aws-missing-tools.git
[submodule "flex-grid"]
	path = flex-grid
	url = https://github.com/sajran/flex-grid.git
[submodule "color-scheme-js"]
	path = color-scheme-js
	url = https://github.com/c0bra/color-scheme-js.git
[submodule "tomboy"]
	path = tomboy
	url = https://github.com/GNOME/tomboy.git
[submodule "tidy-html5"]
	path = tidy-html5
	url = https://github.com/htacg/tidy-html5.git
[submodule "modularscale-sass"]
	path = modularscale-sass
	url = https://github.com/modularscale/modularscale-sass.git
[submodule "node-sass-import-once"]
	path = node-sass-import-once
	url = https://github.com/at-import/node-sass-import-once.git
[submodule "You-Dont-Know-JS"]
	path = You-Dont-Know-JS
	url = https://github.com/getify/You-Dont-Know-JS.git
[submodule "SJSJ"]
	path = SJSJ
	url = https://github.com/HugoGiraudel/SJSJ.git
[submodule "milligram"]
	path = milligram
	url = https://github.com/HugoGiraudel/milligram.git
[submodule "color-schemer"]
	path = color-schemer
	url = https://github.com/at-import/color-schemer.git
[submodule "fs-promise"]
	path = fs-promise
	url = https://github.com/kevinbeaty/fs-promise.git
[submodule "gulp-patterns"]
	path = gulp-patterns
	url = https://github.com/johnpapa/gulp-patterns.git
[submodule "jade-template"]
	path = jade-template
	url = https://github.com/cbriancesco/jade-template.git
[submodule "jade-landing-template"]
	path = jade-landing-template
	url = https://github.com/cbriancesco/jade-landing-template.git
[submodule "solved-by-flexbox"]
	path = solved-by-flexbox
	url = https://github.com/philipwalton/solved-by-flexbox.git
[submodule "gulp-eta"]
	path = gulp-eta
	url = https://github.com/40Digits/gulp-eta.git
[submodule "flipstart"]
	path = flipstart
	url = https://github.com/theme-flip/flipstart.git
[submodule "gulp-browserify-library-seed"]
	path = gulp-browserify-library-seed
	url = https://github.com/mgonto/gulp-browserify-library-seed.git
[submodule "SassyGradients"]
	path = SassyGradients
	url = https://github.com/HugoGiraudel/SassyGradients.git
[submodule "sassport"]
	path = sassport
	url = https://github.com/davidkpiano/sassport.git
[submodule "eyeglass"]
	path = eyeglass
	url = https://github.com/sass-eyeglass/eyeglass.git
[submodule "typesettings"]
	path = typesettings
	url = https://github.com/ianrose/typesettings.git
[submodule "preact"]
	path = preact
	url = https://github.com/developit/preact.git
[submodule "Buttons"]
	path = Buttons
	url = https://github.com/alexwolfe/Buttons.git
[submodule "bem-buttons"]
	path = bem-buttons
	url = https://github.com/nikazawila/bem-buttons.git
[submodule "bem-sass"]
	path = bem-sass
	url = https://github.com/jsng/bem-sass.git
[submodule "top-bar.css"]
	path = top-bar.css
	url = https://github.com/ngoldman/top-bar.css.git
[submodule "susy"]
	path = susy
	url = https://github.com/oddbird/susy.git
[submodule "responsive-nav.js"]
	path = responsive-nav.js
	url = https://github.com/viljamis/responsive-nav.js.git
[submodule "style"]
	path = style
	url = https://github.com/bensmithett/style.git
[submodule "sanitize.css"]
	path = sanitize.css
	url = https://github.com/10up/sanitize.css.git
[submodule "uRequire"]
	path = uRequire
	url = https://github.com/anodynos/uRequire.git
[submodule "SlickNav"]
	path = SlickNav
	url = https://github.com/ComputerWolf/SlickNav.git
[submodule "buddy"]
	path = buddy
	url = https://github.com/popeindustries/buddy.git
[submodule "js-assessment"]
	path = js-assessment
	url = https://github.com/rmurphey/js-assessment.git
[submodule "meatier"]
	path = meatier
	url = https://github.com/mattkrick/meatier.git
[submodule "accord"]
	path = accord
	url = https://github.com/jenius/accord.git
[submodule "honey"]
	path = honey
	url = https://github.com/honey/honey.git
[submodule "posthtml"]
	path = posthtml
	url = https://github.com/posthtml/posthtml.git
[submodule "gulp-inject"]
	path = gulp-inject
	url = https://github.com/klei/gulp-inject.git
[submodule "EpicEditor"]
	path = EpicEditor
	url = https://github.com/OscarGodson/EpicEditor.git
[submodule "react-static-boilerplate"]
	path = react-static-boilerplate
	url = https://github.com/koistya/react-static-boilerplate.git
[submodule "react-starter-kit"]
	path = react-starter-kit
	url = https://github.com/kriasoft/react-starter-kit.git
[submodule "juicy-html"]
	path = juicy-html
	url = https://github.com/Juicy/juicy-html.git
[submodule "node-app-etc-load"]
	path = node-app-etc-load
	url = https://github.com/kgryte/node-app-etc-load.git
[submodule "jquery-colorpickersliders"]
	path = jquery-colorpickersliders
	url = ../../istvan-ujjmeszaros/jquery-colorpickersliders.git
[submodule "colorspaces.js"]
	path = colorspaces.js
	url = ../../boronine/colorspaces.js.git
[submodule "neutroncss"]
	path = neutroncss
	url = ../../NeutronCSS/neutroncss.git
[submodule "sass-include-paths"]
	path = sass-include-paths
	url = https://github.com/strarsis/sass-include-paths.git
[submodule "sass-mediaqueries"]
	path = sass-mediaqueries
	url = https://github.com/paranoida/sass-mediaqueries.git
[submodule "gridle"]
	path = gridle
	url = https://github.com/olivierbossel/gridle.git
[submodule "git-repository"]
	path = git-repository
	url = https://github.com/koistya/git-repository.git
[submodule "sinopia"]
	path = sinopia
	url = https://github.com/rlidwka/sinopia.git
