[submodule "aws-missing-tools"]
	path = aws-missing-tools
	url = https://github.com/colinbjohnson/aws-missing-tools.git
[submodule "flex-grid"]
	path = flex-grid
	url = https://github.com/sajran/flex-grid.git
[submodule "color-scheme-js"]
	path = color-scheme-js
	url = https://github.com/c0bra/color-scheme-js.git
[submodule "tomboy"]
	path = tomboy
	url = https://github.com/GNOME/tomboy.git
[submodule "tidy-html5"]
	path = tidy-html5
	url = https://github.com/htacg/tidy-html5.git
[submodule "modularscale-sass"]
	path = modularscale-sass
	url = https://github.com/modularscale/modularscale-sass.git
[submodule "node-sass-import-once"]
	path = node-sass-import-once
	url = https://github.com/at-import/node-sass-import-once.git
[submodule "You-Dont-Know-JS"]
	path = You-Dont-Know-JS
	url = https://github.com/getify/You-Dont-Know-JS.git
[submodule "SJSJ"]
	path = SJSJ
	url = https://github.com/HugoGiraudel/SJSJ.git
[submodule "milligram"]
	path = milligram
	url = https://github.com/HugoGiraudel/milligram.git
[submodule "color-schemer"]
	path = color-schemer
	url = https://github.com/at-import/color-schemer.git
[submodule "kickstart"]
	path = kickstart
	url = https://github.com/adamjgrant/kickstart/
[submodule "fs-promise"]
	path = fs-promise
	url = https://github.com/kevinbeaty/fs-promise.git
[submodule "gulp-patterns"]
	path = gulp-patterns
	url = https://github.com/johnpapa/gulp-patterns.git
[submodule "jade-template"]
	path = jade-template
	url = https://github.com/cbriancesco/jade-template.git
[submodule "jade-landing-template"]
	path = jade-landing-template
	url = https://github.com/cbriancesco/jade-landing-template.git
[submodule "solved-by-flexbox"]
	path = solved-by-flexbox
	url = https://github.com/philipwalton/solved-by-flexbox.git
[submodule "gulp-eta"]
	path = gulp-eta
	url = https://github.com/40Digits/gulp-eta.git
[submodule "flipstart"]
	path = flipstart
	url = https://github.com/theme-flip/flipstart.git
[submodule "gulp-browserify-library-seed"]
	path = gulp-browserify-library-seed
	url = https://github.com/mgonto/gulp-browserify-library-seed.git
[submodule "SassyGradients"]
	path = SassyGradients
	url = https://github.com/HugoGiraudel/SassyGradients.git
